header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}
.Wh1{
  color:#0077c2 ;
}
header img {
  max-width: 100%;
  height: auto;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 1rem;
}

nav a {
  text-decoration: none;
  color: #0077c2;
  font-weight: bold;
  font-size: 1.125rem;
}
.sixe{
  font-size: 3.125rem;
}